/*On all Pages*/
body {
  background-color: rgb(134, 134, 134);
  font-family: sans-serif;
}

p {
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}

a{
  color: lightgray;
  font-size: 20px;
  font-family: sans-serif;
}

.csscontainer1 {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-gap: 0px;
}


.contenttitle {
  color: black;
  grid-row: 1;
  grid-column: 2;
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#AboutComp {
  color: black;
  grid-row: 9;
  grid-column: 2;
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

/*Make menu bar horizontal*/
.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: black;
  z-index: 1;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 25px;
  /*grid-row: 2;
  grid-column: 1 / span 3;*/
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: lightgray;
  text-align: center;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  transition: all .2s;
}

.menu li a:hover {
  color: rgb(43, 190, 206);
}

.title {
  font-size: 400%;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

#teamlogo{
  display: block;
  width: 250px;
  height: 200px;
  float: left;
  margin: 0px;
  padding: 0px;
  grid-row: 1;
  grid-column: 1
}

#logo {
  display: block;
  width: 250px;
  height: 200px;
  float: right;
  margin: 0px;
  padding: 0px;
  grid-row: 1;
  grid-column: 3;
}


/*On homepage*/
.homecontainer {
  display: grid;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-template-rows: repeat(11, 100px);
  grid-row-gap: 10px;
}


#homevideo {
  width: 100%;
  height: auto;
  grid-column: 2;
  grid-row: 1;
  border: solid 3px silver;
}

#poster {
  width: 100%;
  height: auto;
  grid-row: 6;
  grid-column: 2;
  padding-bottom: 40px;
}

/*On About Page*/
.aboutcontainer {
  display: grid;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-template-rows: repeat(22, 100px);
  grid-row-gap: 0px;
}

.AboutText {
  text-align: center;
}

#CompText {
  text-align: center;
}

.howplayed{
  grid-row: 8;
  grid-column: 2;
  margin: auto;

}

#rulesvideo{
  width: 100%;
  height: auto;
  grid-row: 10 / 13;
  grid-column: 2;
  border: solid 3px silver;
}

#theanime{
  grid-row: 15/16;
  grid-column: 2;
}

#animetrailer{
  width: 100%;
  height: auto;
  grid-row: 17/20;
  grid-column: 2;
  border: solid 3px silver;
}

#animation_link{
  grid-row: 22;
  grid-column: 2;
  text-align: center;
  color: rgb(43, 190, 206);
}


#whatwedo{
  grid-row: 1;
  grid-column: 2;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}

#dodescription{
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  margin: auto;
}


/** Slideshow **/

#slideshow1 {
  width: 100%;
  grid-row: 3 / 6;
  grid-column: 2;
}

#image_container1 {
  background: black;
  padding: 12px;
  text-align: center;
}

#current_img1 {
  height: 380px;
}

#button_container1 {
  padding: 0px;
  grid-row: 3;
  grid-column: 2;
}

#slideshow2 {
  width: 100%;
  grid-row: 23 / 26;
  grid-column: 2;
}

#image_container2 {
  background: black;
  padding: 12px;
  text-align: center;
}

#current_img1 {
  height: 380px;
}

#button_container2 {
  padding: 0px;
  grid-row: 26;
  grid-column: 2;
}

.slide_button {
  border-radius: 20px;
  color: black;
  background-color: rgb(43, 190, 206);
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  border-color: black;
}

#left1 {
  float: left;
}

#right1 {
  float: right;
}

/*On Sponsors Page*/

.sponsorscontainer1 {
  display: grid;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-template-rows: repeat(1, 100px);
  grid-row-gap: 0px;
}
.sponsorscontainer2 {
  display: grid;
  grid-template-columns: 1fr 1.666fr 1.666fr 1fr;
  grid-template-rows: repeat(2, 300px);
  grid-row-gap: 0px;
}

.sponsorscontainer3 {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 100px;
}

.sponsorscontainer4 {
  display: grid;
  grid-template-columns: 1fr 1.666fr 1.666fr 1fr;
  grid-template-rows: repeat(5, 300px);
  grid-row-gap: 0px;
}

#xilinxlogo {
  width: 60%;
  height: auto;
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}

#xilinxdescription {
  width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 3;
  margin: auto;
}

#nvidialogo {
  width: 60%;
  height: auto;
  grid-row: 2;
  grid-column: 2;
  margin: auto;
}

#nvidiadescription {
  width: 100%;
  height: auto;
  grid-row: 2;
  grid-column: 3;
  margin: auto;
}

#WDlogo {
  width: 60%;
  height: auto;
  grid-row: 3;
  grid-column: 2;
  margin: auto;
}

#WDdescription {
  width: 100%;
  height: auto;
  grid-row: 3;
  grid-column: 3;
  margin: auto;
}

#SanDisklogo {
  width: 60%;
  height: auto;
  grid-row: 4;
  grid-column: 2;
  margin: auto;
}

#SanDiskdescription {
  width: 100%;
  height: auto;
  grid-row: 4;
  grid-column: 3;
  margin: auto;
}

#oppologo {
  width: 60%;
  height: auto;
  grid-row: 5;
  grid-column: 2;
  margin: auto;
}

#oppodescription {
  width: 100%;
  height: auto;
  grid-row: 5;
  grid-column: 3;
  margin: auto;
}

#djilogo {
  width: 60%;
  height: auto;
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}

#djidescription {
  width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 3;
}

#adidescription {
  width: 100%;
  height: auto;
  grid-row: 2;
  grid-column: 3;
}

#adilogo {
  width: 70%;
  height: auto;
  grid-row: 2;
  grid-column: 2;
  margin: auto;
}

.schedulecontainer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr ;
  grid-row-gap: 0px;
}

.contenttitle_sche {
  color: black;
  font-size: 50px;
  text-align: center;
  grid-row: 1;
  grid-column: 2;
  font-family: "Times New Roman", Times, serif;
}

#para1{
  grid-row: 2;
  grid-column: 2;
}

#para1 table {
   font-size: 20px;
   border: 1px solid rgb(43, 190, 206);
   border-collapse: collapse;
}

#para1 td, th{
  text-align: center;
  padding: 20px 20px;
  color: black;
  border: 1px solid rgb(43, 190, 206);
  border-collapse: collapse;
}

.third_col{
  text-align: left;
}
/*On Members Page*/

.memberscontainer1 {
  display: grid;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-template-rows: repeat(8, 100px);
  grid-row-gap: 0px;
}

.memberscontainer2 {
  display: grid;
  grid-template-columns: 1fr 1.666fr 1.666fr 1fr;
  grid-template-rows: repeat(3, 500px);
  grid-row-gap: 0px;
}

.membertitle {color: white;
text-align: center;
}

#zhangpic {
  width: 80%;
  height: auto;
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}

#zhangdesc {
  width: 80%;
  grid-row: 1;
  grid-column: 3;
  font-size: 150%;
  margin: auto;
}
#ngaipic {
  width: 80%;
  height: auto;
  grid-row: 2;
  grid-column: 3;
  margin: auto;
}

#ngaidesc {
  width: 80%;
  grid-row: 2;
  grid-column: 2;
  font-size: 150%;
  margin: auto;
}

#zhoupic{
  width: 80%;
  height: auto;
  grid-row: 3;
  grid-column: 2;
  margin: auto;
}

#zhoudesc{
  width: 80%;
  grid-row: 3;
  grid-column: 3;
  font-size: 150%;
  margin: auto;
}

#teampic{
  width: 100%;
  height: auto;
  grid-row: 2;
  grid-column: 2;
}

#ourmembers{
  grid-row: 8;
  grid-column: 2;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}

/*On Contact Page*/

.contactContainer{
 float: left;
 position: relative;
 margin-top: 5%;
 margin-left: 12%;
 width: 30%;
 border-radius: 5px;
 background-color: silver;
 padding: 15px;
 margin-bottom: 5%;
}

.contactContainer p {
  color: black;
}

.contactInfoContainer {
  float: left;
  position: relative;
  max-width: 20%;
  background-color: silver;
  padding: 5px;
  margin-top: 5%;
  border-radius: 5px;
  background-color: silver;
  padding: 15px;
}

.contactInfoContainer p {
  color: black;
  font-size: 15px;
}

/* Style for contact form referenced from: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/*rewrote and adapted*/
input[type=text],input[type=email], input[type=number], input[type=tel], input[list],select, textarea {
    display: block;
    width: 80%;
    padding: 12px;
    border: 1px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: white;
    opacity: 0.8;
    z-index: 10;
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

/*On Message-submitted page*/

#messagesub {
color: white;
text-align: center;
}

#msline1{
  text-align: center;
}

#msline2{
  text-align: center;
}
