/*On all Pages*/
body {
  background-color: black;
}

p {
  color: white;
  font-size: 20px;
}

a{
  color: rgb(30, 114, 182);
  font-size: 20px;
}

.title {
  color: white;
}

.csscontainer1 {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-gap: 0px;
}


.contenttitle {
  color: white;
  text-decoration: underline;
  grid-row: 1;
  grid-column: 2;
  font-size: 50px;
  text-align: center;
}

/*Make menu bar horizontal*/
.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: black;
  z-index: 1;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 25px;
  /*grid-row: 2;
  grid-column: 1 / span 3;*/
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  transition: all .2s;
}

.menu li a:hover {
  font-size: 30px;
  color: rgb(60, 97, 255);
}

.title {
  font-size: 600%;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  color: rgb(60, 97, 255);
  font-family: monospace;
}

#teamlogo{
  display: block;
  width: 250px;
  height: 200px;
  float: left;
  margin: 0px;
  padding: 0px;
  grid-row: 1;
  grid-column: 1
}

#logo {
  display: block;
  width: 250px;
  height: 200px;
  float: right;
  margin: 0px;
  padding: 0px;
  grid-row: 1;
  grid-column: 3;
}


/*On homepage*/
.homecontainer {
  display: grid;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-template-rows: repeat(11, 100px);
  grid-row-gap: 10px;
}


#homevideo {
  width: 100%;
  height: auto;
  grid-column: 2;
  grid-row: 2;
  border: solid 3px silver;
}

#poster {
  width: 100%;
  height: auto;
  grid-row:7;
  grid-column: 2;
}

/*On About Page*/
@font-face {
    /*font referenced from: https://www.1001freefonts.com/new-fonts-4.php*/
    font-family: 'SA';
	  font-weight: normal;
	  font-style:normal;
	  src:url(../fonts/SA.ttf);
}
.aboutcontainer {
  display: grid;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-template-rows: repeat(30, 100px);
  grid-row-gap: 0px;
}


.howplayed{
  grid-row: 1;
  grid-column: 2;
}

#rulesvideo{
  width: 100%;
  height: auto;
  grid-row: 3 / 6;
  grid-column: 2;
  border: solid 3px silver;
}

#theanime{
  grid-row: 8/9;
  grid-column: 2;
}

#animetrailer{
  width: 100%;
  height: auto;
  grid-row: 10/15;
  grid-column: 2;
  border: solid 3px silver;
}

#animation_link{
  grid-row: 15;
  grid-column: 2;
}


#whatwedo{
  grid-row: 16;
  grid-column: 2;
}

#dodescription{
  grid-row: 17;
  grid-column: 2;
}


/** Slideshow **/

#slideshow1 {
  width: 100%;
  grid-row: 19 / 22;
  grid-column: 2;
}

#image_container1 {
  background: black;
  padding: 12px;
  text-align: center;
}

#current_img1 {
  height: 380px;
}

#button_container1 {
  padding: 0px;
  grid-row: 19;
  grid-column: 2;
}

#slideshow2 {
  width: 100%;
  grid-row: 23 / 26;
  grid-column: 2;
}

#image_container2 {
  background: black;
  padding: 12px;
  text-align: center;
}

#current_img1 {
  height: 380px;
}

#button_container2 {
  padding: 0px;
  grid-row: 26;
  grid-column: 2;
}

.slide_button {
  border-radius: 20px;
  color: black;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  border-color: #28005b;
}

#left1 {
  float: left;
}

#right1 {
  float: right;
}

/*On Sponsors Page*/

.sponsorscontainer {
  display: grid;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-template-rows: repeat(10, 100px);
  grid-row-gap: 0px;
}

#djilogo{
  width: 25%;
  height: auto;
  grid-row: 2;
  grid-column: 2;
  float: left;
}

#djidescription{
  grid-row: 2;
  grid-column: 2;
  text-align: right;
}

#adilogo{
  width: 25%;
  height: auto;
  grid-row: 5;
  grid-column: 2;
  float: left;
}

#adidescription{
  grid-row: 5;
  grid-column: 2;
  text-align: right;
}

.schedulecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 700px);
  grid-row-gap: 0px;
}

#sched1 {
  width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 1;
}

#sched2 {
  width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 2;
}
/*On Members Page*/

.memberscontainer1 {
  display: grid;
  grid-template-columns: 1fr 3.332fr 1fr;
  grid-template-rows: repeat(8, 100px);
  grid-row-gap: 0px;
}

.memberscontainer2 {
  display: grid;
  grid-template-columns: 1fr 1.666fr 1.666fr 1fr;
  grid-template-rows: repeat(3, 500px);
  grid-row-gap: 0px;
}

.membertitle {color: white;
text-align: center;
}

#zhangpic {
  width: 80%;
  height: auto;
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}

#zhangdesc {
  width: 80%;
  text-align: justify;
  grid-row: 1;
  grid-column: 3;
  font-size: 150%;
  margin: auto;
}
#ngaipic {
  width: 80%;
  height: auto;
  grid-row: 2;
  grid-column: 3;
  margin: auto;
}

#ngaidesc {
  width: 80%;
  text-align: justify;
  grid-row: 2;
  grid-column: 2;
  font-size: 150%;
  margin: auto;
}

#zhoupic{
  width: 80%;
  height: auto;
  grid-row: 3;
  grid-column: 2;
  margin: auto;
}

#zhoudesc{
  width: 80%;
  text-align: justify;
  grid-row: 3;
  grid-column: 3;
  font-size: 150%;
  margin: auto;
}

#teampic{
  width: 100%;
  height: auto;
  grid-row: 2;
  grid-column: 2;
}

#ourmembers{
  grid-row: 8;
  grid-column: 2;
}

/*On Contact Page*/

.container{
  float: none;
  position: relative;
  left: 33.8%;
  margin-top: 10%;
  width: 30%;
  border-radius: 5px;
  background-color: silver;
  padding: 15px;
}

.container p {
  color: black;
}
/* Style for contact form referenced from: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/*rewrote and adapted*/
input[type=text],input[type=email], input[type=number], input[list],select, textarea {
    display: block;
    width: 80%;
    padding: 12px;
    border: 1px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: white;
    opacity: 0.8;
    z-index: 10;
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

/*On Message-submitted page*/

#msline1{
  text-align: center;
}

#msline2{
  text-align: center;
}
